/* Resert */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

body {
    background: #191717;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

/* Header */

header {
    grid-area: header;
    display: grid;
    justify-content: center;
    height: 30vh;

}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-top: 20px;
    height: 145px;
    width: 145px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(45deg, #00ccff,#fff,#0e1538,#d400d4);
}



.header_title {
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
}

/* Main */

main {
    grid-area: main;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_container {
    display: flex;
    justify-content: center;
}

/* Icons */

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#linkedin,
#instagram,
#github,
#facebook {
    font-size: 4em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080,
                10px 1px 12px #00000080,
                2px 2px 10px #00000080,
                2px 2px 3px #00000080,
                inset 2px 2px 10px #00000080,
                inset 2px 2px 10px #00000080,
                inset 2px 2px 10px #00000080,
                inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 17px;
    margin: 0 10px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 20px #0072ff, 0 0 80px #0072ff;
}

#instagram {
    animation-delay: 0.3s;
}

#facebook {
    animation-delay: 0.7s;
}

#github {
    animation-delay: 0.1s;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

/* Footer  */

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column-reverse;
    height: 10vh;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
}
